.form-control{
    display: inline-block;
    width: auto;
}
.connectionForm{
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    margin: 10px;
}
form button {
    margin-top: 10px;
}
.ui-inputgroup-addon {
    min-width: 2em;
    text-align: center;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
.ng-invalid:not(form)  {
border-left: 5px solid #a94442;
}
.alert{
    background: #ffe7e6;
    border: solid #ff5757;
    border-width: 0 0 0 6px;
    color: #ff5757;
}