/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Yeseva+One&display=swap'); */
a:hover {
    cursor: pointer;
}
/* *{
    font-family: 'Josefin Sans', sans-serif;
} */
h1, h2, h3, h4{
    /* font-family: 'Yeseva One', cursive; */
    letter-spacing: 1px;
}
#circle{
    clip-path: circle(45% at 20% 0);
    background-color: #b39cb8;
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 50vw;
    z-index: 1;
    opacity: 0.5;
}
#circle2{
    clip-path: circle(47.1% at 89% 50%);
    background-color: #b39cb8;
    position: absolute;
    top: 20vw;
    right: 0;
    width: 20vw;
    height: 40vw;
    z-index: 2;
    opacity: 0.5;
}
* :not(#circle,#circle2){
    position: relative;
    z-index: 99;
}
#navbarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbarTop div:not(#connexion){
    padding: 0.7vw;
}
#navbarTitle{
    width: 30vw;
}
#navbarTitle a{
    text-decoration: none;
    color: rgba(118,56,64,1);
}
#navbarTitle h1{
    margin: 0;
    font-size: 1.5vw;
    font-weight: bold;
}
#navbarTopRight{
    background: rgb(64,10,76);
    background: linear-gradient(25deg, rgba(64,10,76,1) 25%, rgba(118,56,64,1) 69%, rgba(143,77,58,1) 88%, rgba(198,123,46,1) 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#navbarTopRight a, #navbarBot a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8vw;
    margin-left: 100px;
}
#connexion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}
#navbarTop img{
    width: 80px;
    padding: 0 1vw;
}
#navbarBot{
    width: 100%;
    background-color: #b39cb8;
    padding: 0.5vw 0;
}
#navbarBot a{
    color: rgba(64,10,76,1);
}
#navbarBot div{
    display: flex;
    justify-content: space-evenly;
}
ul {
    list-style: none;
}
#firstBloc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw;
}
#firstBloc > div{
    width: 40vw;
    display: flex;
    justify-content: center;
}
#firstBloc img{
    height: 40vw;
}
#blocPresentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: 1vw solid #400a4c;
    border-radius: 10px;
    box-shadow: rgba(64, 10, 76, 0.1) 0px 4px 16px, rgba(64, 10, 76, 0.1) 0px 8px 24px, rgba(64, 10, 76, 0.1) 0px 16px 56px;
    padding-bottom: 1vw;
}
#blocPresentation h2{
    background-color: #400a4c;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1.2vw 0;
    margin: 0;
    font-size: 1.6vw;
    box-shadow: rgba(64, 10, 76, 0.35) 0px 25px 20px -20px;
}
#blocPresentation ul{
    background-color: #400a4c;
    opacity: 0.7;
    color: white;
    width: 100%;
    padding: 1vw 0;
    text-align: center;
}
#blocPresentation ul li{
    padding: 0.5vw 0;
    font-size: 1vw;
}
#blocPresentation a{
    padding: 0.5vw 1vw;
    text-decoration: none;
    color: #400a4c;
    font-weight: bolder;
    font-size: 1.2vw;
    border: 2px solid rgb(198,123,46);
    border-radius: 15px;
}
#secondBloc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5vw;
    height: 20vw;
}
#secondBloc img{
    width: 12vw;
}
#secondBloc > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}